li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Microsoft YaHei';
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    width: 100%;
}

#fullpage {
    background: url('../images/bg.jpg') no-repeat center center;
    min-height: 100%;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

.section {
    width: 100%;
    text-align: center;
    height: 100%;
}

#menu {
    position: fixed;
    width: 60% !important;
    overflow: hidden;
    left: 20%;
    top: 40px;
    z-index: 99
}

#menu img {
    display: inline-block;
}

#menu ul {
    display: inline-block;
    float: right;
}

#menu li {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-right: 10px;
}

#menu li a {
    color: #fff;
}

#menu li.active a {
    border-bottom: 1px #c4192c solid;
}

#menu li a:hover {
    border-bottom: 1px #c4192c solid;
}

.med {
    font-size: 24px;
    letter-spacing: -.5px;
}

.med-white {
    color: #fff;
    font-size: 24px;
    letter-spacing: -.5px;
}

.fullwidthbanner-container {
    width: 60% !important;
    position: relative;
    padding: 0;
    overflow: hidden;
    left: 20%;
}


/*     banner   */

#focusBar {
    width: 100%;
    height: 422px;
    clear: both;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

#focusBar .mypng {
    background: url(../images/9.gif) repeat-x top center;
    padding-top: 2px;
}

#focusBar li {
    width: 100%;
    clear: both;
    height: 462px;
    display: none;
    position: absolute;
    /* position:relative;*/
}

#focusBar .focusL {
    height: 150px;
    position: absolute;
    z-index: 45;
    background-color: #000;
    opacity: 0.8;
    left: 20%;
    width: 60%;
    bottom: -5px;
}

#focusBar .focusL label {
    opacity: 1;
    color: #fff;
    margin: 10px 40px 0px 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 15px;
}

#focusBar .arrL,
#focusBar .arrR {
    display: block;
    width: 52px;
    height: 134px;
    position: absolute;
    top: 150px;
    z-index: 11111;
    cursor: pointer;
    background: url(../images/bt_arr.png) no-repeat;
}

#focusBar .arrL {
    left: -52px;
    background-position: 0px 0px;
}

#focusBar .arrR {
    right: -52px;
    background-position: -68px 0px;
}

#focusBar .arrL:hover {
    background-position: 0px -144px;
}

#focusBar .arrR:hover {
    background-position: -68px -144px;
}

.zhezhao {
    height: 492px;
    position: absolute;
    z-index: 19;
    /* right:1000px;*/
    top: -15px;
    left: -960px;
    margin-left: 50%;
}
/*-----------------*/
/***** 产品 图片hover  *****/
/*-----------------*/

figure.effect-selena {
	padding: 3px;
}

figure.effect-selena img {
	opacity: 0.95;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
figure.effect-selena:hover{
	border: 3px #c4192c solid;
	padding: 0px
}
figure.effect-selena:hover img {
	-webkit-transform: scale3d(0.95,0.95,1);
	transform: scale3d(0.95,0.95,1);
}

figure.effect-selena span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	opacity: 0;
}

figure.effect-selena p {
	background-color:#6b1723;width: 247px;height: 54px;line-height: 54px;color: #fff;
text-align: center;font-size: 23px;position: absolute;right: 0px;bottom: 0px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg);
	transform: perspective(1000px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

figure.effect-selena:hover span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity:1;
}

figure.effect-selena:hover p {
	opacity: 1;
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
	transform: perspective(1000px) rotate3d(1,0,0,0);
}
/*     section0    */

#section0 span.park {
    background-image: url(../images/logo_park.png);
    width: 122px;
    height: 54px;
    display: inline-block;
    margin: 20px 0px;
}

#section0 img {
    margin-top: 80px;
}

#section0 p {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.see {
    color: #fff;
    border-bottom: 1px #c4192c solid;
    font-size: 18px;
}


/*     section1    */

.new_list {
    width: 60%;
    position: relative;
    left: 20%;
    max-width: 60%;
    overflow: hidden;
    margin-bottom: 35px;
}

.new_list li {
    display: inline-block;
    width: 30%;
    margin-left: 2.5%;
    background-color: #c4192c;
    color: #fff;
    height: 100px;
    line-height: 100px;
    margin-top: 40px;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new_list li a {
    color: #fff;
    font-size: 12px;
}

.new_list li label {
    font-size: 20px;
    margin-right: 16px;
}

#section1 .see {
    float: right;
    margin-right: 20%
}


/*     section2    */

.view-first {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: 12%;
}

.view-first img {
    margin-left: 8%
}

.view-first .mask h2 {
    margin-top: 25px;
}

.right_view {
    display: inline-block;
    width:43%;
    margin-top: 5%;
    height: 360px;
}

.left_view {
    display: inline-block;
    width: 43%;
    vertical-align: top;
    margin-top: 5%;
    margin-right: 2%
}


/*     section3    */

.postion_img {
    position: absolute;
    top: 110px;
    right: 14%;
}

#section3 .see {
    position: absolute;
    top: 450px;
    right: 14%;
}


/*     section4    */

#section4 ul {
    display: inline-block;
    width: 150px;
    margin-left: 5%;
    vertical-align: top;
    margin-right: 3%;
    margin-left: 2%;
}

#section4 ul li {
    display: inline-block;
    width: 100%;
    line-height: 35px;
}

#section4 ul li a {
    color: #fff;
}

#section4 ul a {
    color: #fff;
    display: inline-block;
    width: 100%;
    line-height: 35px;
    font-weight: 200;
    font-size: 14px;
}

#section4 li.footer_first {
    color: #b81c2c;
    font-size: 17px;
}

.device {
    width: 840px;
    height: 300px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.device img {
    width: 100%;
}

.device .arrow-left {
    background: url(../images/large_left.png) no-repeat left top;
    position: absolute;
    left: -52px;
    top: 50%;
    margin-top: -15px;
    width: 39px;
    height: 39px;
    z-index: 3
}

.device .arrow-right {
    z-index: 3;
    background: url(../images/large_right.png) no-repeat left bottom;
    position: absolute;
    right: -52px;
    top: 50%;
    margin-top: -15px;
    width: 39px;
    height: 39px;
}

.swiper-container {
    height: 360px;
    width: 840px;
}

.focusL {
    opacity: 0.8;
    background-color: #000;
    width: 840px;
    height: 100px;
    position: absolute;
    bottom: 60px;
    left: 0px;
}

.focusL label {
        opacity: 1;
    color: #fff;
    margin: 10px 30px 0px 50px;
    display: inline-block;
    text-align: left;
}

.content-slide {
    padding: 20px;
    color: #fff;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
    z-index: 2
}

.swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}
